/* Team Area css
============================================================================================ */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal-backdrop{z-index:-1;}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 6px solid #00ab6c;
  border-radius:15px;
  width: 80%;
		h3{
			color:#00ab6c;
			text-align:left;
			margin-bottom:5px;

			}
			p{
			text-align:justify;
			margin-bottom:5px;
			&:last-child{
					margin-bottom: -5px;
				}
			}
		}

/* The Close Button */
.close {
  text-align: right;
  color: #00ab6c;
  font-size: 28px;
  font-weight: bold;
  margin-top:-15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.team_area{
	background: #f9f9ff;
}

.team_inner{
	//margin-bottom: -50px;
}
.team_item{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	.team_img{
		cursor:pointer;
		position: relative;
		overflow: hidden;
		transition: filter .5s ease-in-out;
  		-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  		filter: grayscale(100%); /* FF 35+ */
		.hover{
  			position: absolute;
			left: 0px;
			width: 100%;
			bottom: -70px;
			text-align: center;
			@include transition;
			background: rgba(white, 0.5);
			p{
				font-size:15px;
				color:black;
			}
			a{
				font-size: 20px;
				color:#222222;
				margin-right: 20px;
				line-height: 50px;
				&:last-child{
					margin-right: 0px;
				}
				&:hover{
					i{
						&:before{
							background:#00ab6c;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}
				}
			}
		}
	}
	.team_name{
		text-align: center;
		margin-top: 20px;
		a{
			font-size: 17px;
			color: #00ab6c;
		}
		h4{
			cursor:pointer;
			margin-bottom: 5px;
			color: $dip;
			font-family: $rob;
			font-weight: 500;
			font-size: 20px;
			@include transition;
		}
		p{
			text-align:justify;
			font-size: 14px;
			font-family: $rob;
			color: $pfont;
			margin-bottom: 0px;
		}
	}
	&:hover{
		.team_img{
			filter: grayscale(0%);
			&:before{
				opacity: 1;
			}
			.hover{
				bottom: 0px;
			}
		}
		.team_name{
			/*h4{
				background: linear-gradient(to right, #2c28b1 0%, #9b5cf6 70%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}*/
		}
	}
}
/* End Team Area css
============================================================================================ */