
$roboto: 'Roboto',sans-serif;
$raleway: 'Raleway',sans-serif;
$poppins: "Poppins", sans-serif;

$color-dark: #1c1c24;

$body-color: #777777;

$white-color: #fff;
$primary-color: #25cd44;
$primary-light: #13dc38;
$primary-dark: #d20055;
$secondary-color: #FFAC27;
$blue-bg: #120f4e;
$primary-blue: #26a1ff;
$title-color: #222222;
$gray-color: #a9a9a9;
$gray-color2: #333333;
$gray-color3: #555555;
$gray-color4: #bbbbbb;
$gray-color5: #888888;
$gray-color6: #1c1c24;

$violet-color:#8000FF;
$sin-color: #FFAC27;

$meteorite-color: #3b1d82;

$green-color: #25cd44;
$yello-orange: #ffb339;
$radical-red: #ff2661;
$radical-red2: #e7015e;

$overlay-color1: #00c1b4;
$overlay-color2: #9a8d17;
$overlay-color5: #002bff;
$overlay-color6: #00b4ff;

